
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.contenedorPrincipalNav{
  display: flex;
  align-items: center;
  justify-content:space-evenly ;
 
}
.contenedorInputs {
  display: flex;
  align-items: center;
}
h1{
  padding-bottom: 32px;
}
.ImageRoom {
  width: 395px;
  height: 269px;
  border-radius: 24px;
}
.star {
  width: 24px;
  height: 24px;
  
}


.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;

}
.contenedor-cajas {
  height: 730px;
  overflow-y: scroll;
}
.work__projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.2rem;
}
.informacionPrincipal{
 display: flex;
 justify-content: space-between;
 
}
.informacionRating{
  display: flex;
  align-items: center;
  
}